<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Change ToDo</h1>
    <div class="buttons">
      <button class="button button-icon icon button-clear button-dark ion-close" ng-click="doCloseEditForm()"></button>
      <button class="button button-icon icon button-clear button-dark ion-checkmark" ng-click="doSubmitChanges()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="changeForm" name="changeForm" ng-submit="doSubmitChanges()">
      <div class="list">

        <label class="item item-input">
          <div role="alert">
            <span class="error" ng-show="changeForm.summary.$error.required">* </span>
          </div>
          <input type="text" name="summary" placeholder='Summary (required)' ng-model="editTodoModel.summary" required>
        </label>


        <label class="item item-input">
          <textarea type="text" placeholder='Description' rows=5 ng-model="editTodoModel.description"></textarea>
        </label>
      </div>
      <div>
        <label>Show in container</label>


        <label ng-repeat="parent in parents">
          <ion-checkbox  class="item-small" type="checkbox"  name="selectedParents[]"  value="{{parent.id}}" ng-checked="selection.indexOf(parent.id) > -1"  ng-click="toggleSelection(parent.id)">{{parent.summary}}</ion-checkbox>
        </label>
      </div>
      </div>
      <div class="bar bar-footer bar-dark">
        <button class="button button-full button-dark" type="submit">Save</button>
      </div>

    </form>
  </ion-content>
</ion-modal-view>