<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Create ToDo</h1>
    <div class="buttons">
      <button class="button button-icon icon button-clear button-dark ion-close" ng-click="doCloseCreateForm()"></button>
      <button class="button button-icon icon button-clear button-dark ion-checkmark" ng-click="doSubmitCreate()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="createForm" name="createForm" ng-submit="doSubmitCreate()">

      <div class="list">

        <label class="item item-input">
          <div role="alert">
            <span class="error" ng-show="createForm.summary.$error.required">* </span>
          </div>
          <input type="text" name="summary" placeholder='Summary (required)' ng-model="createTodoModel.summary" required>
        </label>







        <label class="item item-input">
          <textarea type="text" placeholder='Description' rows=5 ng-model="createTodoModel.description"></textarea>
        </label>


        <ion-checkbox ng-true-value="true" ng-false-value="false" ng-model="createTodoModel.createAnother">Create another</ion-checkbox>


      </div>

      <div class="bar bar-footer bar-dark">
        <button class="button button-full button-dark" type="submit">Save</button>
      </div>




    </form>
  </ion-content>
</ion-modal-view>